################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
**/bin/**
**/obj/**
*.db-shm
*.db-wal
/src/ControlGastos.WebUI/controlgastos.db
